.nav {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(192, 31, 31) 0%, hsl(64, 70%, 52%) 45%, #30a844 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-size:small;
    font-weight:bold;
}

.focus-in-expand-fwd  {
    display: none;
} 
.card-body1 {
    display: none;
}
.card {
    padding-bottom: 5px;
}

.lista {
    display: flex;
    padding-right: 30px;
    list-style: none;
    gap: 20px;
        li a {
            text-decoration: none;
        }
}






