.nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 90, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: small;
}

h1 {
    display: none;
} 
.card-body1 {
    display: none;
}
.card {
    padding-bottom: 5px;
}

.lista {
    display: flex;
    list-style: none;
    gap: 20px;
        li a {
            text-decoration: none;
        }
}






