.contain-fluid {
    border-style: double;
    border-color: rgb(173, 10, 10);
    background-image: url(../assets/Images/Fondos/paisajeFondo.jpg);
    background-position: center; 
    h2 {
        display: flex;
        justify-content: space-around;
        padding-bottom: 15px;
    }
}


.productos {
    display: flex;
    justify-content: space-around;
}


