@media (min-width: 600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .card-body1 {
        display:block;
    }
    .venta {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}


@media (min-width: 768px) {
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    h1 {
        display: flex;
        color: rgb(207, 66, 66);
    }
    
}



@media (max-width: 890px) {
    .catalogo {
        width: max-content;
    }
}









