@media (min-width: 600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .card-body1 {
        display:block;
    }
    .venta {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}


@media (min-width: 768px) {
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    
        .focus-in-expand-fwd {
            display: inline;
            font-size: 50px;
            font-family: cursive;
            color: #83b13f;
            -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }  
        @-webkit-keyframes focus-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-800px);
                      transform: translateZ(-800px);
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateZ(0);
                      transform: translateZ(0);
              -webkit-filter: blur(0);
                      filter: blur(0);
              opacity: 1;
            }
          }
          @keyframes focus-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-800px);
                      transform: translateZ(-800px);
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateZ(0);
                      transform: translateZ(0);
              -webkit-filter: blur(0);
                      filter: blur(0);
              opacity: 1;
            }
          }
          
    
    
}



@media (max-width: 890px) {
    .catalogo {
        width: max-content;
    }
}









