.venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .card {
        opacity: 1;
        margin-bottom: 50px;
    }
    
}
h2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}