.venta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .card {
        margin-bottom: 50px;
    }
}